<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytics Page</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <style>
      /* Custom styles */
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
      }

      /* .header {
        background-color: #343a40;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
        /* position: fixed; */
      /* top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
      } */

      .navbar {
        background-color: #343a40;
      }
      .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
        color: #ffffff;
      }
      .navbar-toggler-icon {
        color: #ffffff;
      }
      .navbar-nav .nav-item .nav-link {
        color: #ffffff;
        transition: color 0.3s;
      }
      .navbar-nav .nav-item .nav-link:hover {
        color: #ffc107;
      }

      .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      .clicks-item {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }

      .footer {
        background-color: #343a40;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
        margin-top: 20px; /* Added margin-top for better spacing */
      }

      .pagination {
        justify-content: center;
        margin-top: 20px;
      }

      .page-item.active .page-link {
        background-color: #343a40;
        border-color: #343a40;
      }

      .page-link {
        color: #343a40;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Scissors</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/shorturl/linkhistory">Link History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shorturl/createurl"
              >Create a Short URL</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shorturl/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h2>Short URL Analytics</h2>

      <p>Short URL: <%= id %></p>
      <p>Total Clicks: <%= clicks %></p>

      <div class="clicks-list">
        <% for (let i = 0; i < clickData.length; i++) { %>
        <div class="clicks-item">
          <h3>Click #<%= i + 1 %></h3>
          <p>
            Timestamp: <%= new Date(clickData[i].timestamp).toLocaleString() %>
          </p>
          <p>Referrer: <%= clickData[i].referrer %></p>
        </div>
        <% } %>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <% if (currentPage > 1) { %>
          <li class="page-item">
            <a
              class="page-link"
              href="?page=<%= currentPage - 1 %>"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <% } %> <% for (let page = 1; page <= totalPages; page++) { %>
          <li class="page-item <%= page === currentPage ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= page %>"><%= page %></a>
          </li>
          <% } %> <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a
              class="page-link"
              href="?page=<%= currentPage + 1 %>"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
      <!-- End Pagination -->
    </div>
    <div class="footer">
      <p>&copy; 2024 Scissors - URL Shortener</p>
    </div>
    <!-- Bootstrap JS and Font Awesome JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  </body>
</html>
